@model DeviceManagement_WebApp.Models.Category

@{
    ViewData["Title"] = "Search Category";
}

<h1>Category does not exists</h1>
<hr />
<h3>HTTP error: 404</h3>
<div>
    <a asp-action="Index">Back to List</a>
</div>